@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align: center;
}
.centerp{
  text-align: center;
  float: center;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

